# Bỏ qua thư mục thư viện (Rất nặng, không up lên)
node_modules/
backend/node_modules/
frontend/node_modules/

# Bỏ qua file môi trường chứa mật khẩu (BẢO MẬT)
.env

# Bỏ qua file log hệ thống
npm-debug.log
*.log

# Bỏ qua file hệ điều hành
.DS_Store
Thumbs.db